    <p>El Servicio Nacional de Meteorología (SNM) ha emitido un {{data.event}} para Puerto Rico.
         El aviso publicado a las {{ data.effective }} se extiende hasta las {{ data.expires }} y {% if data.onearea%}afecta a la municipia {{ data.areas_affected}}.{% else %}afecta a las municipalidades de {{ data.areas_affected }}.{% endif %}
         La descripción del evento menciona lo siguiente: {% if data.what %} hey {{data.what}} {% elif data.hazard %} {{data.hazard}} {% endif %}
    </p>
    <p>
         {% if data.impacts %}
         Según las indicaciones del NWS, esto puede resultar en los siguientes impactos:
         {{data.impacts}}
        {% endif %}
    </p>
    <p>
        {% if data.event == 'flash flood warning' %}
        Un {{data.event}} significa que el riesgo es inminente o está ocurriendo en la zona. 
        {% endif %}
     </p>

{% include "_credit.html" %}
